.about-page {
  margin-top: 20%;
  padding-bottom: 20%;
  weidth: 100%;
  height: 100%;
  background: #7acac7;
  text-align: left;
  padding-left: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.24);
  z-index: 9999;
}

.caption {
  font-size: 24px;
}

.contents {
  font-size: 13px;
}

.github-icon {
  margin-top: 30px;
  font-weight: lighter;
}

#FooterMenu {
  display: block;
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: 20px;
  z-index: 9999;
  padding: 0 auto;
  padding-left: 40%;
}

#FooterBtn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
}
