.App {
  text-align: center;
}

.App-header {
  height: 50px;
  width: 100%;
  padding: 10px;
  color: black;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9000;
}

.App-title {
  font-size: 40px;
  font-weight: bold;
}