body{
  background: #FFCF2F;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #ffffff;
  border-radius: 2px;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 30px;
  margin-right: 3px;
  margin-top: 3px;
  padding: 0;
  text-align: center;
  width: 30px;
}

.marker {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  margin-left: 10%;
  margin-top: 10%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);
}

.marker.black {
  background: #7ACAC7;
}

.marker.white {
  background: #FFCF2F;
  
}

.square:focus {
  outline: none;
}

.available-square{
  background: #ffe4e1;
}

.non-available-square{

}

.kbd-navigation .square:focus {
  background: #ddd;
}

.restart-button{
  font-size: 15px;
  position: fixed;
  top: 87px;
  right: -15px;
  transform: rotate(90deg);
  z-index: 9001;
}

.game {
  padding-top: 70px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.game-board{
  position: fixed;
  top: 60px;
  z-index: 9000;
  background: #FFCF2F;
}

.game-info{
  position: fixed;
  top: 320px;
  width: 300px;
  padding-top: 10px;
  padding-left: 40px;
  text-align: left;
  background: #FFCF2F;
}

.game-history{
  padding-top: 320px;
}

.history-list{
  font-weight: lighter;
}